body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, pink 1%, white 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    cursor: pointer;
}

.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
    text-align: center;
}
button:hover{
    transform:scale(1.05);
}


#yes-button:hover{
    cursor: url("icons8-red-heart-16.png") 8 8, pointer;
}
#no-button:hover{
    cursor: url("icons8-mending-heart-16.png") 8 8, pointer;
}

#yes-button{
    background-color: #4CAF50;
    color: white;
    padding: 15px 30px;        
    font-size: 1.2em;
    border: none;
    border-radius: 10px;
    transition: all 0.3s ease;
}

#no-button {
    background-color: #f44336;
    padding: 15px 30px;        
    font-size: 1.2em;
    border:none;
    color: white;
    border-radius: 10px;
    transition: all 0.3s ease;
}

#cute-gif {
    border-radius: 5px;
}